<header class="c-page__header">
        <h1>{{ site.description }}</h1>
	{% if page.title == 'Home' %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <span class="u-separate"></span>
        <a href="{{ "/list/" | prepend: site.baseurl }}">List</a>
        <span class="u-separate"></span>
        <a href="{{ "/caution/" | prepend: site.baseurl }}">Caution for Me</a>
        <span class="u-separate"></span>
        <a href="{{ "/search/" | prepend: site.baseurl }}">Search</a>
    </p>
	{% else %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">&lt;&ndash;&ndash; Back</a>
    </p>
	{% endif %}
</header>
